/* Stili per il contenitore delle aggiunte proiezioni */

#Contenitore {
    width: 60%;
    height: 80%;
    margin: 2% auto auto auto;
    background: rgba(208, 208, 208, 0.85);
    border-radius: 35px;

    display: grid;
    grid-column-gap: 0;
    grid-row-gap: 0;
    grid-auto-columns: 1fr;
    grid-auto-rows: 10% 80% 10%;
    grid-template-areas:
    "AggiungiProiezioneTextDiv"
    "AggiungiProiezione"
    "InvioDiv";
}

/* Stili per il testo nell'aggiunta proiezione */

#AggiungiProiezioneTextDiv:nth-child(1) {
    grid-area: AggiungiProiezioneTextDiv;
    text-align: center;
}

/* Stili per il caricamento della copertina */

#CaricaCopertinaDiv:nth-child(2) {
    grid-area: AggiungiProiezione;
}

/* Stili per il contenitore dell'aggiunta proiezione */

#AggiungiProiezioneContainer:nth-child(2) {
    grid-area: AggiungiProiezione;
    margin-top: 1%;
    margin-bottom: auto;
    display: grid;
    grid-column-gap: 0;
    grid-row-gap: 1%;
    grid-auto-rows: 1fr;
    grid-template-areas:
    "SelezionaFilmDiv"
    "DataDiv"
    "OrarioDiv"
    "SalaDiv";
}

/* Stili per il pulsante di invio */

#InvioDiv:nth-child(3) {
    grid-area: InvioDiv;
    margin: 0 auto 1% auto;
}

/* Stili generici per i div interni */

#AggiungiProiezioneContainer > div {
    text-align: center;
}

/* Stili per la selezione del film */

#SelezionaFilmDiv:nth-child(1) {
    grid-area: SelezionaFilmDiv;
}

/* Stili per la data dell'aggiunta proiezione */

#DataDiv:nth-child(2) {
    grid-area: DataDiv;
}

/* Stili per l'orario dell'aggiunta proiezione */

#OrarioDiv:nth-child(3) {
    grid-area: OrarioDiv;
}

/* Stili per la sala dell'aggiunta proiezione */

#SalaDiv:nth-child(4) {
    grid-area: SalaDiv;
}

/* Stili per l'effetto hover sul pulsante */

button:hover {
    color: #5d5d5d;
}

/* Stili per gli input, select e textarea nell'aggiunta proiezione */

#AggiungiProiezioneContainer input, select, textarea {
    background: #add8e6;
    width: 40%;
    padding: 10px;
    font-size: 20px;
    border-radius: 15px;
    margin: auto;
}

/* Stili specifici per il select */

#AggiungiProiezioneContainer select {
    margin-top: 5px;
}

/* Stili per l'etichetta nell'aggiunta proiezione */

#AggiungiProiezioneContainer label {
    color: black;
    font-size: 30px;
    margin-bottom: 12px;
}

/* Stili per il pulsante di invio */

#InvioDiv{
    padding: 1% 43%;
}

#InvioDiv button {
    background: #77ff5c;
    width: 100%;
    padding: 9px;
    color: black;
    font-size: 23px;
    border-radius: 25px;
    margin: auto;
}
