#Contenitore {
    width: 70%;
    height: 80%;
    padding: 3% 0 0;
    margin: 10px auto;
}

#ListaModeratori {
    position: relative;
    /* Viene utilizzata per posizionare un elemento in base alla sua posizione originale all'interno del flusso del documento. Quando si applica
                             position: relative; a un elemento, è possibile spostarlo rispetto alla sua posizione normale utilizzando le proprietà top, right, bottom e left
                           */
    background: rgba(208, 208, 208, 0.85);
    margin: 1% auto 5% auto;
    text-align: center;
    border-radius: 35px;
    line-height: 30px;
    padding: 1%;
}

table {
    margin: 5% auto 5% auto;
    line-height: 30px;
}

table, th, td {
    border: 1px solid #000000;
    border-collapse: collapse;
    background: none;
}

th {
    padding: 20px;
    margin: auto;
    font-size: 35px;
    color: black;
}

td {
    text-transform: uppercase;
    padding: 12px;
    font-size: 18px;
    color: black;
    margin: auto;
}


.Elimina {
    background: none;
    border: none;
    color: black;
    font-size: 20px;
    margin: 2px auto 2px auto;

}

