/* Stili per la form in base alla larghezza dello schermo */

@media screen and (max-width: 1200px) {
    .form {
        width: 50%;
        margin: 22% auto;
    }

    .form input, select {
        width: 75%;
        margin: 0 0 6px;
        padding: 15px;
        font-size: 17px;
    }

    button {
        width: 40%;
        font-size: 20px;
        border-radius: 30px;
    }
}

/* Stili alternativi per schermi più piccoli */

@media screen and (max-width: 800px) {
    .form {
        width: 70%;
        margin: 40% auto;
    }

    .form input, select {
        width: 65%;
        margin: 0 0 4px;
        padding: 13px;
        font-size: 15px;
    }

    button {
        width: 35%;
        font-size: 15px;
        border-radius: 30px;
    }
}

/* Stili comuni per la form */

.form {
    width: 35%;
    height: 80%;
    position: relative;
    background: rgba(208, 208, 208, 0.85);
    margin: 3% auto 3% auto;
    padding: 5% 3% 4% 3%;
    text-align: center;
    border-radius: 60px;
}

/* Stili per gli input e select della form */

.form input, select {
    background: #ffffff;
    width: 85%;
    margin: 0 0 8px;
    padding: 17px;
    box-sizing: border-box;
    font-size: 20px;
    border-radius: 45px;
}

/* Stili per il pulsante della form */

button {
    background: #77ff5c;
    width: 50%;
    padding: 10px;
    color: black;
    font-size: 27px;
    border-radius: 30px;
}

/* Stili per l'effetto hover sul pulsante */

button:hover {
    color: #5d5d5d;
}

/* Stili per il messaggio della form */

.form .message {
    margin: 15px 0 0;
    color: rgba(179, 179, 179, 0.61);
    font-size: 25px;
}

/* Stili per il messaggio di errore */

#errore {
    margin: 0 auto 5% auto;
    color: #818181;
    font-size: 40px;
}
