/* Stili per il contenitore principale "Contenitore" */

#Contenitore {
    width: 60%;
    height: 72%;
    margin: 2% auto auto auto;
    background: rgba(208, 208, 208, 0.85);
    border-radius: 35px;

    /* Stili per la disposizione degli elementi tramite grid */
    display: grid;
    grid-column-gap: 0;
    grid-row-gap: 0;
    grid-auto-columns: 1fr;
    grid-auto-rows: 9% 82% 9%;
    grid-template-areas:
        "ModificaProiezioneTextDiv"
        "ModificaProiezione"
        "InvioDiv";
}

/* Stili per il div del testo di modifica proiezione "ModificaProiezioneTextDiv" */

#ModificaProiezioneTextDiv:nth-child(1) {
    grid-area: ModificaProiezioneTextDiv;
    text-align: center;
}

/* Stili per il div di modifica proiezione "ModificaProiezioneContainer" */

#ModificaProiezioneContainer:nth-child(2) {
    grid-area: ModificaProiezione;
    margin-top: 2%;
    margin-bottom: auto;
    display: grid;
    grid-column-gap: 0;
    grid-row-gap: 5%;
    grid-auto-rows: 1fr;
    grid-template-areas:
        "SelezionaFilmDiv"
        "DataDiv"
        "OrarioDiv"
        "SalaDiv";
}

/* Stili per il div di invio "InvioDiv" */

#InvioDiv:nth-child(3) {
    grid-area: InvioDiv;
    margin: 0 auto 1% auto;
}

/* Stili comuni per i div all'interno di "ModificaProiezioneContainer" */

#ModificaProiezioneContainer > div {
    text-align: center;
    padding: 1%;
}

/* Stili per il div di selezione film "SelezionaFilmDiv" */

#SelezionaFilmDiv:nth-child(1) {
    grid-area: SelezionaFilmDiv;
}

/* Stili per il div di data "DataDiv" */

#DataDiv:nth-child(2) {
    grid-area: DataDiv;
}

/* Stili per il div di orario "OrarioDiv" */

#OrarioDiv:nth-child(3) {
    grid-area: OrarioDiv;
}

/* Stili per il div di sala "SalaDiv" */

#SalaDiv:nth-child(4) {
    grid-area: SalaDiv;
}

/* Stili per l'effetto hover sui bottoni */

button:hover {
    color: #5d5d5d;
}

/* Stili per gli input, select e textarea all'interno di "ModificaProiezioneContainer" */

#ModificaProiezioneContainer input, select, textarea {
    background: #add8e6;
    width: 40%;
    padding: 10px;
    font-size: 20px;
    border-radius: 15px;
    margin: auto;
}

/* Stili specifici per il campo di selezione */

#ModificaProiezioneContainer select {
    margin-top: 5px;
}

/* Stili per le etichette dei campi */

#ModificaProiezioneContainer label {
    color: black;
    font-size: 30px;
    margin-bottom: 12px;
}

/* Stili per il pulsante di invio */

#InvioDiv button {
    background: #77ff5c;
    width: 100%;
    padding: 9px;
    color: black;
    font-size: 23px;
    border-radius: 25px;
    margin: auto;
}
