/* Stili per il contenitore principale "main" */

main {
    width: 55%;
    height: 65%;
    margin: 3% auto 3% auto;
}

/* Stili per il contenitore del profilo "MostraProfilo" */

#MostraProfilo {
    position: relative;
    background: rgba(208, 208, 208, 0.85);
    margin: 0 auto 100px;
    padding: 2px 45px 45px 45px;
    text-align: center;
    border-radius: 50px;
}

/* Stili per il messaggio di benvenuto "Benvenuto" */

#Benvenuto {
    margin: 3px auto;
}

#Benvenuto h1 {
    padding: 2px;
    font-size: 50px;
    color: #000000;
    margin-bottom: 7%;
}

/* Stili per le informazioni personali "InformazioniPersonali" */

#InformazioniPersonali h2 {
    color: #000000;
    font-size: 35px;
    margin: 1% auto 0 1%;
}

#InformazioniPersonali p {
    color: #000000;
    font-size: 25px;
    padding: 0 0 0 5px;
    margin: 2% auto 2% 1%;
}

/* Stili per il form di modifica "modificaForm" */

#modificaForm input {
    background: #add8e6;
    width: 20%;
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
    margin: 1% auto;
}

/* Media queries per dispositivi con larghezza massima di 1200px */

@media screen and (max-width: 1200px) {
    main {
        width: 60%;
    }

    #Benvenuto > h1 {
        font-size: 35px;
    }

    #InformazioniPersonali > h2 {
        font-size: 30px;
    }

    #InformazioniPersonali > p {
        font-size: 25px;
    }
}

/* Media queries per dispositivi con larghezza massima di 800px */

@media screen and (max-width: 800px) {
    main {
        width: 90%;
    }

    #Benvenuto > h1 {
        font-size: 30px;
    }

    #InformazioniPersonali > h2 {
        font-size: 25px;
    }

    #InformazioniPersonali > p {
        font-size: 20px;
    }
}
